composer.phar
vendor/
.idea/

extension/sanitizer/.temp/
extension/sanitizer/ext/ltmain.sh
extension/sanitizer/ext/Makefile
extension/sanitizer/ext/Makefile.fragments
extension/sanitizer/ext/Makefile.global
extension/sanitizer/ext/Makefile.objects
extension/sanitizer/ext/acinclude.m4
extension/sanitizer/ext/aclocal.m4
extension/sanitizer/ext/build/
extension/sanitizer/ext/config.guess
extension/sanitizer/ext/config.h
extension/sanitizer/ext/config.h.in
extension/sanitizer/ext/config.nice
extension/sanitizer/ext/config.status
extension/sanitizer/ext/config.sub
extension/sanitizer/ext/configure
extension/sanitizer/ext/configure.in
extension/sanitizer/ext/install-sh
extension/sanitizer/ext/libtool
extension/sanitizer/ext/missing
extension/sanitizer/ext/mkinstalldirs
extension/sanitizer/ext/modules/
extension/sanitizer/ext/run-tests.php

*~
*.o
*.out
*.lo
*.la
*.log
*.loT
*.gch
*.h.ghc
*.phc
*.dSYM
*.deps
lemon

.libs/
.temp/
autom4te.cache/
/vendor/
ide/

composer.lock
php_test_results_*.txt
docker-compose.yml
build/gccarch